screenshot-path null

hotkey-overlay {
    skip-at-startup
    hide-not-bound
}

prefer-no-csd

input {
    keyboard {
        xkb { }

        repeat-delay 150
        repeat-rate 40
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse { }

    trackpoint { }

    // Focus windows and outputs automatically when moving the mouse into them.
    focus-follows-mouse max-scroll-amount="10%"

    disable-power-key-handling
}

output "eDP-1" {
    mode "1920x1080@60.027"
    scale 1
    transform "normal"
    backdrop-color "{{colors.background.dark.hex}}"
}

layout {
    gaps 16
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    focus-ring {
        off
        width 4
        // active-color "{{colors.primary.dark.hex}}"
        inactive-color "#00000000"

        active-gradient from="{{colors.primary.dark.hex}}" to="{{colors.secondary.dark.hex}}" angle=45
    }

    border {
        width 4
        // active-color "{{colors.primary.dark.hex}}"
        inactive-color "#00000000"

        active-gradient from="{{colors.primary.dark.hex}}" to="{{colors.secondary.dark.hex}}" angle=45
    }

    shadow { }

    struts { }
}

window-rule {
    match app-id="floorp" title="^Picture-in-Picture$"
    open-floating true
}

layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    MOZ_ENABLE_WAYLAND "1"
    QT_QPA_PLATFORM "wayland"
}

cursor {
    xcursor-theme "Kafka"
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Space { spawn "ghostty" "+new-window"; }
    Mod+R { spawn "fuzzel"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+" "-l" "1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-" "-l" "1.0"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "set" "10%-"; }

    Mod+Shift+C { close-window; }

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

    Mod+Shift+J     { focus-workspace-down; }
    Mod+Shift+K     { focus-workspace-up; }
    Mod+Ctrl+Shift+J     { move-window-to-workspace-down; }
    Mod+Ctrl+Shift+K     { move-window-to-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }

    Mod+Tab { switch-preset-column-width; }
    Mod+Shift+Tab { switch-preset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+Shift+S { screenshot; }
    Print { screenshot-screen; }
    Ctrl+Print { screenshot-window; }

    Mod+O { toggle-overview; }

    Mod+Shift+Q { quit skip-confirmation=true; }

    Mod+Shift+P { power-off-monitors; }
}
